<div class= "devise">

  <div class="container">
    <div class="row">
      <div class='col-md-3'></div>
      <div class="col-md-6">
        <div class="login-box well">
          <legend> Edit My Profile?</legend>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail" %>
          </div>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New Password" %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Re-enter Password" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", class: "btn btn-lg btn-success btn-block" %>
          </div>
          <% end %>

          <br />
          <br />
          <legend> Cancel My Account? </legend>

          <div class="form-group">
            <p class="text-center m-t-xs text-sm">Unhappy?</p>
            <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-default btn-block m-t-md" %>          </div>

          </div>
          </div>
        </div>
        <div class='col-md-3'></div>
      </div>
    </div>
  </div>

<br />
