<h1>Events</h1>
<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if event.image? %>
        <%= image_tag event.image, size: '260x180', class: "img-settings img-responsive center-block" %>
        <% else %>
        <%= image_tag "lego_robotics.jpeg", size: '260x180', class: "img-settings img-responsive center-block" %>
        <% end %>
        <h5><%= event.start.strftime '%Y-%m-%d %H:%M:%S' %></h5>
        <h3><%= link_to event.title, event_path(event) %></h3>
        <h5><%= event.venue %></h5>
      </div>
    <% end %>
  </div>
</div>
