<div class="event">

  <div class="container">
    <div class="row">
      <p>
        <h1>All Events For You</h1>
      </p>

      <% @events.each do |event| %>
      <div class="row">
        <div class="col-md-7">
          <% if event.image? %>
          <%= image_tag event.image, size: '800x300', class: "img-responsive" %>
          <% else %>
          <%= image_tag "800x300.png", size: '800x300', class: "img-responsive" %>
          <% end %>
        </div>
        <div class="col-md-5">
          <h5 style= "line-height: 40%; color: #757575"><%= event.start.strftime '%a, %b %d, %Y, %I:%M %P' %></h5>
          <h4 style= "font-family: Montserrat"><%= link_to event.title, event_path(event), class: "title-link" %></h4>
          <p style= "line-height: 40%; font-style: italic; color: grey"># <%= event.category.name %></p>

          <br />
          <p style= "font-weight: bold"><%= event.organizer_name %></p>
          <p style= "line-height: 20%"><%= event.address %></p>

          <br />
          <br />
            <%= link_to 'Get Ticket', tickets_path(event_id: event.id), class:"btn btn-primary" %>
            <%= link_to 'More Info', event_path(event), class:"btn btn-primary" %>

        </div>
      </div>

      <hr>
      <% end %>
    </div>

    <%= paginate @events %>

  </div>
</div>
