<h1>Events</h1>

<% @events.each do |event| %>
  <div class="event">
    <h3><%= link_to event.title, event_path(event) %></h3>
    <h5><%= event.description %></h5>
    <h5><%= event.datetime %></h5>
    <h5><%= event.venue %></h5>
    <h5><%= event.image %></h5>
    <h5><%= event.type %></h5>
    <h5><%= event.ticket_limit %></h5>
    <h5><%= event.user_id %></h5>
  </div>
<% end %>
