<%= form_for(@event, url: events_path, html: { id: "event-create-form" }) do |f| %>
  <h1 class="text-center">
    Create Event
  </h1>

  <div class="form-group">
    <h4> <%= f.label :title_field, "Title" %> </h4>
    <%= f.text_field :title, required: true, id: "event_title_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Description" %> </h4>
    <%= f.text_field :description, id: "event_description_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Create Event", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
