<div class= "event">

  <div class="container thumbnail">
    <div class="row">

      <div class="col-md-12">
        <h2 style= "padding-left: 20px"><%= @event.title %></h2>
        <% if @event.image? %>
        <%= image_tag @event.image, class: "img-responsive" %>
        <% else %>
        <%= image_tag "800x300.png", class: "img-responsive" %>
        <% end %>
        <hr>
      </div>
    </div>

    <div class="container">
      <div class="row caption">
        <div class="col-md-8">
          <p><%= @event.description.html_safe %></p>
        </div>


        <div class="col-md-4">
          <%= link_to 'REGISTER', tickets_path(event_id: @event.id), class:"btn btn-primary btn-lg btn-block btn-register" %>
          <br />
          <p>START:</p>
          <h5><%= @event.start.strftime '%a, %B %d, %Y' %></h5>
          <h5 style= "line-height: 30%"><%= @event.start.strftime '%I:%M %P' %></h5>
          <br />
          <p>END:</p>
          <h5><%= @event.end.strftime '%a, %B %d, %Y' %></h5>
          <h5 style= "line-height: 30%"><%= @event.end.strftime '%I:%M %P' %></h5>
          <br />
          <p>VENUE:</p>
          <h5><%= @event.address %></h5>
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&key=AIzaSyAPzk5PIZVjPAEFHdSdwT-W1u9CrdHnOf0&markers=#{@event.latitude}%2C#{@event.longitude}" %>
          <br />
          <p>ORGANIZER:</p>
          <h5><%= @event.organizer_name %></h5>
          <p><%= @event.organizer_description.html_safe %></p>
          <br />
          <% if can? :edit, @event %>
            <%= link_to "Edit", edit_event_path(@event), class:"btn btn-primary" %>
            <%= link_to "Attendee List", order_path, class:"btn btn-primary" %>
          <% end %>
          <% if can? :destroy, @event %>
            <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Delete?" }, class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="page-header">
          <h1> Comments </h1>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="form-inline">
                <%= form_for(@comment, url: comments_path(event_id: @event.id), method: :post, html: { id: "comment-create-form"}) do |f| %>
                <div class="form-group">
                  <%= f.text_field :body, required: true, size: "100", placeholder: "Add a comment", id: "comment_body_field", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.submit "Add", class: "btn btn-default" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="comments-list">
                <% @comments.each do |comment| %>
                <div>
                  <% if comment.user_id == @event.user_id %>
                  <strong>Event Organizer:</strong>
                  <% else %>
                  <strong>Event Participant:</strong>
                  <% end %>
                  <%= comment.body %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
