<div class= "event">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 well">
        <h1> Ticket Summary</h1>

          <div class="row">
            <div class="col-sm-12 col-sm-6 text-center">
              <br><br> <h2 style="color:#0fad00">Success</h2>
              <%= image_tag("check-true.png") %>
              <p style="font-size:20px; color:#5C5C5C;">Thank you for registering the event. <br />
                Please check your email for the ticket confirmation. <br />
              See you there soon!</p>
              <br />
            </div>
          </div>

          <div class="col-sm-12 col-sm-6">
            <table class="table">
              <tr>
                <th>Ticket Number</th>
                <th>Event Title</th>
                <th>Ticket Type</th>
                <th>Event Date</th>
                <th>Event Address</th>
                <th>Event Details</th>
              </tr>
                <% @orders.each do |order| %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order.ticket.event.title %></td>
                <td><%= order.ticket.name %></td>
                <td><%= order.ticket.event.start.strftime '%a, %B %d, %Y' %></td>
                <td><%= order.ticket.event.address %></td>
                <td><%= link_to "Event Detail", event_path(order.ticket.event.id), class:"btn btn-primary" %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>

      </div>
    </div>
  </div>
</div>
