<h1>Attendee List for <%= @event.title %></h1>
<h5><%= @event.start %></h5>
<h5><%= @event.venue %></h5>

<div class="container">
  <div class="row">
    <table class="table">
      <tr>
        <th>Order ID</th>
        <th>Participant Name</th>
        <th>Participant Email</th>
        <th>Ticket Name</th>
      </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.name %></td>
      <td><%= order.user.email %></td>
      <td><%= order.ticket.name %></td>
    </tr>
    <% end %>
    </table>
  </div>
</div>
