
<div class= "event">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 well">
        <h1>Select Tickets</h1>

        <table class="table">
          <tr>
            <th>Ticket Name</th>
            <th>Ticket Type</th>
            <th>Ticket Quantity</th>
            <th>Ticket Price</th>
            <th>Action</th>
          </tr>
          <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.ttype %></td>
            <td><%= ticket.quantity - Order.where(ticket_id: ticket.id).size %></td>
            <td><%= number_to_currency(ticket.price, unit: "RM") %></td>
            <td>
            <% if ticket.quantity - Order.where(ticket_id: ticket.id).size > 0 %>
              <%= link_to "Register", new_order_path(ticket), class:"btn btn-primary btn-register" %>
            <% end %>
            <% if can? :edit, ticket %>
              <%= link_to "Edit", edit_ticket_path(ticket), class:"btn btn-primary" %>
            <% end %>
            <% if can? :destroy, ticket %>
              <%= link_to "Delete", ticket_path(ticket), method: :delete, data: { confirm: "Delete?" }, class:"btn btn-primary" %>
            <% end %>
            </td>
          </tr>

          <% end %>
        </table>
      </div>
      <% if @event.user_id == current_user.id %>
        <div class="text-center">
          <%= link_to 'Create New Ticket', new_ticket_path(event_id: @event.id), class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br />
