<%= form_for(@ticket, url: tickets_path(@event), html: { id: "ticket-create-form" }) do |f| %>
<h1 class="text-center">
  Create Ticket
</h1>

<div class="form-group">
  <h4> <%= f.label :text_field, "Ticket Name" %> </h4>
  <%= f.text_field :name, required: true, id: "ticket_name_field", class: 'form-control' %>
</div>

<div class="form-group">
  <h4> <%= f.label :text_field, "Ticket Type" %> </h4>
  <%= f.text_field :ttype, required: true, id: "ticket_type_field", class: 'form-control' %>
</div>

<div class="form-group">
  <h4> <%= f.label :text_field, "Quantity available" %> </h4>
  <%= f.number_field :quantity, required: true, id: "ticket_type_field", class: 'form-control' %>
</div>

<div class="form-group">
  <h4> <%= f.label :text_field, "Price" %> </h4>
  <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any, class: 'form-control' %>
</div>


<div class="form-group text-center">
  <%= f.submit "Create Ticket", class: "btn btn-success btn-lg" %>
</div>


<% end %>
