<!DOCTYPE html>
<html>
  <head>

    <title>Kidzdemy</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= render partial: 'partials/header' %>
    </div>
    <%= render partial: 'partials/flash_messages' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id="footer">
      <%= render partial: 'partials/footer' %>
    </div>
  </body>
</html>
